.lista-produto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(243, 243, 252);
    color: black;
    
}

.link-sem {
    all: unset;  /* Remove todos os estilos */
    cursor: pointer;  /* Define o cursor como ponteiro */
    text-decoration: none;  /* Remove o sublinhado padrão */
    color: inherit;  /* Herda a cor do elemento pai */
  }