.caixa-produto{
    text-align: start;
}
.precoS{
    margin: 0 0 0 0px;
}
.categoria{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #8F8F8F;
    font-weight: 700;
    font-size: 12px;
}

.preco{
    font-size: 24px;
    color: black;
    margin: 0 0 0 0px;
}
.preco-riscado{
    color: darkgray  ; 
    text-decoration: line-through ;
    font-size: 24px ;
    
}

.discounted-price{
    font-size: 24px;
    color: black
  }

  .img{
    width: 292px;
    height: 321px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nome-produto{
    margin: 0 0 0 0px;
    color: #474747;
    font-size: 24px;
  }